<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Việt Hàn</title>
    <!-- base:css -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

    <link rel="stylesheet" th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/base/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
  
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- <link rel="stylesheet" href="/css/style2.css"> -->
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/images/iconlogo.png}" />

  </head>
  <body>
<footer class="footer">
					<div class="container-fluid">
						<div class="row1">
							<div class="col-md-12">
								<span>Copyright © 2017-2023 - Trường Đại học Công nghệ Thông tin & Truyền Thông Việt - Hàn, Đại
									học Đà Nẵng</span>
							</div>
							<div class="col-md-12">
								<div><span></span><i class="fa-solid fa-house"></i> Địa chỉ: Khu Đô thị Đại học Đà Nẵng, Đường
									Nam Kỳ Khởi Nghĩa, quận Ngũ Hành Sơn, TP. Đà Nẵng <br>
									<span></span><i class="fa-solid fa-square-phone"></i></i> Điện thoại: 0236.6.552.688
		
									&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-envelope"></i> daotao@vku.udn.vn
									
								</div>
							</div>
						</div>
					</div>
				</footer>

</html>